---

  - name: Install docker-compose
    become: yes
    become_method: sudo
    get_url:
      url: https://github.com/docker/compose/releases/download/1.8.0/docker-compose-{{ ansible_system }}-{{ ansible_userspace_architecture }}
      dest: "{{ ansible_docker_paths_docker_compose }}"
      mode: 0755
